# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE/editor
.vscode/
.idea/

# Local sqlite
*.sqlite3

# Coverage
.coverage
htmlcov/

# Django static files and media
staticfiles/
media/

# Local environment variables
.env

# pytest
.pytest_cache/
